/* { outline: 1px dotted red; } */

body {
	background-color: #1c2e40;
	color: #bccee0;
}

input {
	background-color: #2c3e50;
}

.conversation-piece {
	border-color: #bccee0;
}

div.conversation-piece {
	background-color: #2c3e50;
}
