body {
	font-family: Roboto, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2vh;
	font-weight: 300;
}
input {
	display: block;
	height: 20%;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	padding: 0.75%;
}
#container {
	background-color: #fff;
	bottom: 0;
	height: 15%;
	position: fixed;
	width: 100%;
}
#conversation-box {
	color: #566473;
	margin: 0 10%;
	margin-top: 5%;
	padding-bottom: 15vw;
	overflow: scroll;
}
.conversation {
	padding: 2%;
	margin-top: 2vh;
}
.you {
	border-left: 0.4vw solid #566473;
}
.fuchsia {
	text-align: right;
	border-right: 0.4vw solid #566473;
}
a {
	color: #566473;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.box {
	background-color: #f2f2f2;
	padding: 2em 2em;
	margin-top: 2vh;
}
.box .rated, .box .reviews {
	font-weight: 500;
}
