
/* Only modifies colours and borders */

body {
	background-color: #528bff;
	color: white;
}
input {
	background-color: #528bff;
	color: white;
}
#conversation-box, a {
	color: white;
}
.you {
	border-left: 0.4vw solid white;
}
.fuchsia {
	text-align: right;
	border-right: 0.4vw solid white;
}
.box {
	background-color: transparent;
	border: none;
}
*::-webkit-input-placeholder {
    color: #EEE;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #EEE;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #EEE;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #EEE;
}
