
/* Only modifies colours and borders */

body {
	background-image: url(../images/wood.jpg);
	color: #b7b7b6;
}
input {
	background-color: black;
}
#conversation-box, a {
	color: #b7b7b6;
}
.you {
	border-left: 0.4vw solid #b7b7b6;
}
.fuchsia {
	text-align: right;
	border-right: 0.4vw solid #b7b7b6;
}
.conversation {
	background-color: rgba(0, 0, 0, 0.3);
}
.box {
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
}
